@import "../styles/variables.scss";

.galleryCard {
    display: flex;
    flex-direction: column;
    background-color: $dark-grey;
}
.camInfo {
    padding: 0 2rem;
    color: $pure-white;
    font-family: "Spartan", sans-serif;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    font-size: 13px;

    // font-weight: 600;
}
.camImage {
    width: 100%;
    height: auto;
}

.dateContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}