@import "../styles/variables.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    width: 90%
}
.card {
    border: .2rem solid $dark-grey;
    opacity: 0.8;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.infosContainer {
    background-color: $dark-grey;
    padding: 1rem 1rem 0 1rem;
    color: $pure-white;
    font-family: "Spartan", sans-serif;
    font-size: 12px;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.roverImg {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}
.camsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
